<div *ngIf="track">

  <h2 style="text-align: center;">{{track.name | uppercase}} Details</h2>
  <img *ngIf="albumImg" class="center" src="{{ albumImg }}">
  <div style="text-align: center;"><audio controls src="{{track.preview_url}}"><code>audio</code> element.</audio> </div>
  <div>
    <label>name:
      <input [(ngModel)]="track.name" placeholder="name"/>
    </label>
  </div>
  <div style="text-align: center;" class="container"><span>track_number: </span>{{track.track_number}}</div>
  <div style="text-align: center;" class="container darker"><span>duration_ms: </span>{{track.duration_ms}}</div>
  <div style="text-align: center;" class="container"><span>id: </span>{{track.id}}</div>
  <button (click)="goBack()">go back</button>
</div>
